hw-1-2-3.txt
[{"id":"5ec4cb97.e61304","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"248afde6.029562","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"bc50b865.a2c3e8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"916d251c.f30158","type":"rpi-gpio in","z":"5ec4cb97.e61304","name":"button","pin":"11","intype":"up","debounce":"25","read":false,"x":210,"y":60,"wires":[["766dd7c3.55adb8"]]},{"id":"766dd7c3.55adb8","type":"rpi-gpio out","z":"5ec4cb97.e61304","name":"LED","pin":"7","set":"","level":"0","freq":"","out":"out","x":370,"y":180,"wires":[]},{"id":"59308b69.7e0bc4","type":"inject","z":"248afde6.029562","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":150,"y":100,"wires":[["6f7de003.f18ab"]]},{"id":"6f7de003.f18ab","type":"function","z":"248afde6.029562","name":"payload","func":"msg.headers={\n    devicekey: \"R2qaaPsobMefq00L\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":200,"wires":[["fee3683e.6f2a48"]]},{"id":"fee3683e.6f2a48","type":"http request","z":"248afde6.029562","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DtcEC006/datachannels/temp/datapoints.csv","tls":"","proxy":"","authType":"","x":150,"y":320,"wires":[["1023f0d7.4a309f","910c2bff.e273a8"]]},{"id":"1023f0d7.4a309f","type":"http response","z":"248afde6.029562","name":"","statusCode":"","headers":{},"x":390,"y":380,"wires":[]},{"id":"910c2bff.e273a8","type":"debug","z":"248afde6.029562","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":260,"wires":[]},{"id":"2ab5b016.3ae8d","type":"inject","z":"bc50b865.a2c3e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"0.1","x":110,"y":100,"wires":[["28f8e28a.4f791e"]]},{"id":"28f8e28a.4f791e","type":"function","z":"bc50b865.a2c3e8","name":"payload","func":"msg.headers={\n    deviceKey: \"R2qaaPsobMefq00L\"\n    };\nmsg.payload= \"temp,,25\";\nreturn msg;","outputs":1,"noerr":0,"x":100,"y":180,"wires":[["6fa5b151.d227a"]]},{"id":"e7badcde.45e1e","type":"http response","z":"bc50b865.a2c3e8","name":"","statusCode":"","headers":{},"x":290,"y":220,"wires":[]},{"id":"6fa5b151.d227a","type":"http request","z":"bc50b865.a2c3e8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DtcEC006/datapoints.csv","tls":"","proxy":"","authType":"","x":110,"y":240,"wires":[["e7badcde.45e1e","98281baa.099c78"]]},{"id":"98281baa.099c78","type":"debug","z":"bc50b865.a2c3e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":320,"wires":[]}]